<h6>Cena paliwa</h6>
<div class="progress">
  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': priceWidth, 'background-color': priceColor}" aria-valuenow="50" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>
<h6>Spalanie</h6>
<div class="progress">
  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': wearWidth, 'background-color': wearColor}" aria-valuenow="75" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>
<h6>Odległość</h6>
<div class="progress">
  <div class="progress-bar" role="progressbar" [ngStyle]="{'width': distanceWidth, 'background-color': distanceColor}" aria-valuenow="100" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>

